{% extends "base.html" %}

{% block content %}

<section class="feature-area section-gap" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Calculator</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="" method="POST">

                 {% csrf_token %}


                    <!-- <label>1alue 1</label> -->
                    <input type="text" name="num1" class="form-control" placeholder="Enter 1st Number">
                    <br>

                    <!-- Select tag allows to take options  -->
                    <label for="">Select Any Operator:</label>
                    <select name="opr" class="form-control">
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="*">*</option>
                        <option value="/">/</option>
                    </select>
                    <br>
                    <input type="text" name="num2" class="form-control" placeholder="Enter 2nd Number">
                    <br>

                    <!-- submit button -->
                    <button type="submit" class="btn">Calculate</button>
                    <br>
                    <br>

                    <!-- Output Feild  -->
                    <label>Output:</label>
                    <input type="text" class="form-control" value="{{op}}" placeholder="output will be displyed here">

                </form>
            </div>
        </div>
    </div>
    <br>
</section>

{% endblock  %}


